<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FabLabTomy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FabLabTomy.My.MySettings.cadena" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabLabDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <FabLabTomy.My.MySettings>
            <setting name="rutaFotosMaquina" serializeAs="String">
                <value>FotosMaquina\</value>
            </setting>
            <setting name="rutaFotosUsuario" serializeAs="String">
                <value>FotosUsuario\</value>
            </setting>
        </FabLabTomy.My.MySettings>
    </applicationSettings>
</configuration>